<div class="container mt-5">
  <div class="row">
    <div class="d-block">
      <h1>Modelos Prontos</h1>
      <p>Escreva informações sobre seu projeto. Você pode incluir métricas de sucesso, cronogramas e os dados mais recentes. Esta seção é vinculada a uma subpágina, onde é possível incluir outros detalhes sobre o projeto.</p>
    </div>
  </div>
  <div class="row mt-4">
    <div class="col-12 mb-5">
      <div class="d-flex justify-content-center">
        <img src="https://dummyimage.com/720x420/#808080/aaa" alt="teste">
      </div>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col-6">
      <img src="https://dummyimage.com/520x320/#808080/aaa" alt="teste">
    </div>
    <div class="col-6">
      <div class="d-block">
        <h1>LANDING PAGES</h1>
        <p>Escreva informações sobre seu projeto. Você pode incluir métricas de sucesso, cronogramas e os dados mais recentes. Esta seção é vinculada a uma subpágina, onde é possível incluir outros detalhes sobre o projeto.</p>
      </div>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col-6">
      <img src="https://dummyimage.com/520x320/#808080/aaa" alt="teste">
    </div>
    <div class="col-6">
      <div class="d-block">
        <h1>HOT SITE</h1>
        <p>Escreva informações sobre seu projeto. Você pode incluir métricas de sucesso, cronogramas e os dados mais recentes. Esta seção é vinculada a uma subpágina, onde é possível incluir outros detalhes sobre o projeto.</p>
      </div>
    </div>
  </div>
  <div class="row mt-5 mb-5">
    <div class="col-6">
      <img src="https://dummyimage.com/520x320/#808080/aaa" alt="teste">
    </div>
    <div class="col-6">
      <div class="d-block">
        <h1>SITE</h1>
        <p>Escreva informações sobre seu projeto. Você pode incluir métricas de sucesso, cronogramas e os dados mais recentes. Esta seção é vinculada a uma subpágina, onde é possível incluir outros detalhes sobre o projeto.</p>
      </div>
    </div>
  </div>
</div>
