<div class="container">
  <div class="row mt-5">
    <div class="col-5">
      <img src="https://dummyimage.com/380x220/#808080/aaa" alt="teste">
    </div>
    <div class="col-7">
      <h1 class="mt-5">ENERGIA RENOVÁVEL:</h1>
      <h5>Economize na conta de luz e invista no seu futuro.</h5>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <h1 class="mt-5">O que é Energia Solar Fotovoltaica?</h1>
      <p>A energia solar fotovoltaica é obtida pela conversão da energia do sol em eletricidade por meio de uma tecnologia baseada no efeito fotovoltaico.</p>
      <p>O tipo mais comum de energia solar, a fotovoltaica se destaca pela imensa variedade de aplicações que possibilita — com projetos que podem ser Off Grid (sistemas isolados) ou On Grid (instalações conectadas à rede elétrica, que podem ser usinas solares ou de geração distribuída).</p>
      <p>Tão confiável a ponto de ser instalada até em satélites no espaço, a energia solar fotovoltaica é uma das fontes de energia renovável que mais crescem no Brasil e no mundo. Conheça, abaixo, tudo sobre essa tecnologia, como suas vantagens e desvantagens, média de preço e o que são as placas solares e as células fotovoltaicas que compõem esses sistemas.</p>
    </div>
  </div>
</div>
<div class="container-fluid bg-light p-4 mt-5">
  <div class="row">
    <div class="offset-1 col-11">
      <h1>EXEMPLOS</h1>
    </div>
  </div>
</div>
<div class="container">
  <div class="row mt-5">
    <div class="col-7">
      <div class="d-flex justify-content-center">
        <img src="https://dummyimage.com/540x415/#808080/aaa" alt="teste">
      </div>
    </div>
    <div class="col-5">
      <div class="d-block justify-content-center">
        <img src="https://dummyimage.com/400x200/#808080/aaa" alt="teste" class="mb-3">
        <img src="https://dummyimage.com/400x200/#808080/aaa" alt="teste">
      </div>
    </div>
  </div>
</div>
<div class="container-fluid bg-light p-4 mt-5">
  <div class="row">
    <div class="offset-1 col-11">
      <h1>ENERGIA SOLAR FOTOVOLTAICA NO BRASIL</h1>
    </div>
  </div>
</div>
<div class="container mt-5">
  <div class="row">
    <div class="col-6">
      <div class="d-flex justify-content-center">
        <img src="https://dummyimage.com/540x370/#808080/aaa" alt="teste">
      </div>
    </div>
    <div class="col-6">
      <p>O Brasil tem potencial solar bastante significativo. Nossa localização se encontra dentro do cinturão solar e atinge a maior intensidade de setembro a novembro, no período de seca, quando temos geração hídrica menor.</p>
      <p>Dados de 2021 da Associação Brasileira de Energia Solar Fotovoltaica (ABSOLAR) ilustram bem a importância da geração de energia solar fotovoltaica para o Brasil: segundo a entidade, a tecnologia já gerou mais de 264 mil novos empregos e evitou a emissão de mais de 9,5 milhões de toneladas de CO2 na atmosfera no país.</p>
      <p>A potência instalada da tecnologia no país quase dobrou entre 2019 e abril de 2021, indo de 4.594 MW para 8.813 MW (sendo 62% oriundos de geração centralizada e 38% por geração distribuída). Em números absolutos, Minas Gerais lidera o ranking de potência instalada (com 977,3 MW – ou 17,8% do total brasileiro), seguido por São Paulo (12,5% do total), Rio Grande do Sul (12,4%), Mato Grosso (7,9%) e Paraná (5,6%).</p>
    </div>
  </div>
</div>
<div class="container-fluid bg-light p-4 mt-5">
  <div class="row">
    <div class="offset-1 col-11">
      <h1>O QUE É O EFEITO FOTOVOLTAICO</h1>
    </div>
  </div>
</div>
<div class="container mt-5">
  <div class="row">
    <div class="col-12">
      <p>O efeito fotovoltaico acontece quando a luz solar, através de seus fótons, é absorvida pela célula fotovoltaica, um material semicondutor que converte a radiação solar em energia elétrica.</p>
      <p>Pelo processo, a energia dos fótons da luz é transferida para os elétrons que então ganham a capacidade de movimentar-se. O movimento dos elétrons, por sua vez, gera a corrente elétrica.</p>
    </div>
  </div>
</div>
