<div class="container">
  <div class="row">
    <div class="col-5">
      <img src="https://dummyimage.com/680x320/#808080/aaa" alt="teste">
    </div>
    <div class="col-7">
      <h1 class="mt-5">MATHEUS ZICOLAN ASCENCIO</h1>
      <h5>ENGENHEIRO DA COMPUTAÇÃO E DESENVOLVEDOR DE SOFTWARE</h5>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <h1 class="mt-5">O que é Energia Solar Fotovoltaica?</h1>
      <p>A energia solar fotovoltaica é obtida pela conversão da energia do sol em eletricidade por meio de uma tecnologia baseada no efeito fotovoltaico.</p>
      <p>O tipo mais comum de energia solar, a fotovoltaica se destaca pela imensa variedade de aplicações que possibilita — com projetos que podem ser Off Grid (sistemas isolados) ou On Grid (instalações conectadas à rede elétrica, que podem ser usinas solares ou de geração distribuída).</p>
      <p>Tão confiável a ponto de ser instalada até em satélites no espaço, a energia solar fotovoltaica é uma das fontes de energia renovável que mais crescem no Brasil e no mundo. Conheça, abaixo, tudo sobre essa tecnologia, como suas vantagens e desvantagens, média de preço e o que são as placas solares e as células fotovoltaicas que compõem esses sistemas.</p>
    </div>
  </div>
</div>
